header {
    background-color: rgb(243, 243, 243);
}

iframe {
    border-radius: 0%;
    flex: 1;
}

h1 {
    font-size: 30pt;
}

h3 {
    font-size: 20pt;
}

.Ausbildung {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 0px solid #ddd;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
}

footer {
    color: #fff;
    /* Textfarbe des Footers anpassen */
    padding: 20px;
    text-align: center;
    position: sticky;
    bottom: 0;
    grid-column: span 3;
    /* Spanne über alle drei Spalten */
    color: black;
    padding: 10px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    grid-column: span 3;
    color: black;
    padding: 10px;
    text-align: center;
}

/* Start: GridLayout */
/* Formatierung des Gridlayouts. Das Gridlayout wird auf 3 Spalten ausgelegt. */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    /* Automatische Höhe für die Zeilen */
    gap: 20px;
    /* Abstand zwischen den Zellen */
    padding: 20px;
}

/* Formatierung des Gridlayouts. Das Gridlayout wird auf 2 Spalten ausgelegt. */
.grid-container-zwei-Spalten {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    /* Automatische Höhe für die Zeilen */
    gap: 20px;
    /* Abstand zwischen den Zellen */
    padding: 20px;
}

/* Definiert eine Zelle und besitzt einen inneren Abstand von 5 Pixeln */
.cell {
    padding: 10px;
}

/* Verbindet zwei Zellen vertikal miteinander */
.cell-1 {
    grid-column: span 2;
}

/* Verbindet zwei Zellen horizontal miteinander */
.cell-2 {
    grid-row: span 2;
}

/* Verbindet drei Zellen vertikal miteinander */
.cell-3 {
    grid-column: span 3;
}

/* Ende: GridLayout */


#Portrait {
    width: 150pt;
    height: 100%;
    display: block;
}

#Kurzbeschreibung {
    align-content: end;
    text-align: center;
}

#Portraitimage {
    align-content: start;
}

.Icon {
    width: 30pt;
    height: 30pt;
}

#Adresse {
    align-content: end;
    text-align: right;
}

#Mail {
    align-content: start;
    text-align: left;
}

/* Start: Navigation */
/* CSS-Stil für die nebeneinander angeordnete Liste */
.navbar {
    list-style-type: none;
    display: flex;
    /* Es wird ein FlexLayout auf der Navigationsleiste verwendet. Alle Elemente werden nebeneinander gesetzt. */
    justify-content: center;
    /* Steuert die AUsrichtung der Flex-Elemente: zentriert */
    align-items: center;
    /* Die Objekte sind zentriert */
    padding: 0px;
    /* Kein innerer Zellenabstand */
    /*color: white;*/
    font-size: 20pt;
    align-content: center;
}

.navbar-logo {
    font-size: 24px;
}

/* Die Navigationsleiste wird vertikal angeordnet. Ein Zellen und Zeilenabstand wurde auf 0 gesetzt */
.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Die Schrift der Menu-Items wird definiert */
.navbar-menu li {
    margin-right: 20px;
    font-size: 24pt;
}

/* Die Schrift der Menu-Items wird definiert */
.navbar-menu a {
    text-decoration: none;
    /*color: white;*/
    font-size: 20pt;
}

/* Das Hamburger-Icon wird formatiert. Bei Desktop-Bildschirmgröße ist dieses ausgeblendet. Der Curosr wird verändert, sobald sich der Mauszeiger darüber befindet. */
.navbar-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/*Ende Navigation*/

.horizontal-list li {
    margin-right: 100px;
    font-size: 16pt;
}

/* Start: CSS-Stil für die Sterne */
.star-rating {
    font-size: 0;
    white-space: nowrap;
    /* Entfernt den Leerraum zwischen den Sternen */
}

.star-rating label {
    font-size: 24px;
    /* Größe der Sterne anpassen */
    padding: 5px;
    cursor: not-allowed;
    /* Die Sterne  sind nicht auswählbar */
    display: inline-block;
    color: #ddd;
    /* Standardfarbe der Sterne */
}

.star-rating label:before {
    content: '\2605';
    /* Unicode-Zeichen für Stern */
    color: #ddd;
    /* Standardfarbe der Sterne */
}

.star-rating label.checked:before {
    color: #f90;
    /* Farbe der ausgewählten Sterne */
}

/* Ende: Sterne */

/* Dien Größe der Bilder auf der Ausbildung.html wird festgelegt. */
.image_study {
    width: 60%;
    height: 40%;
    object-fit: fill;
}

.image_study_2 {
    width: 40%;
    height: 30%;
    object-fit: fill;
}

/* Ein Rahmen auf gewisse Elemente wird gesetzt */
.border {
    border: 1px solid #ccc;
}


/* Bildschirmkompatibilität */
/* Ab <= 740 Pixel */

@media screen and (max-width: 740px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* Zwei Spalten: eine Fraktion, zwei Fraktionen, eine Fraktion */
        grid-template-rows: auto;
        /* Automatische Höhe für die Zeilen */
        gap: 20px;
        /* Abstand zwischen den Zellen */
        padding: 20px;
    }

    .grid-container-zwei-Spalten {
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* Zwei Spalten: eine Fraktion, zwei Fraktionen, eine Fraktion */
        grid-template-rows: auto;
        /* Automatische Höhe für die Zeilen */
        gap: 20px;
        /* Abstand zwischen den Zellen */
        padding: 20px;
    }

    header {
        grid-column: span 2;
        /* Spanne über alle drei Spalten */
        color: black;
        padding: 10px;
        text-align: center;
    }

    footer {
        grid-column: span 2;
        /* Spanne über alle drei Spalten */
        color: black;
        padding: 10px;
        text-align: center;
    }


    /*Hamburger-Icon*/
    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-menu li {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 20pt;
    }

    .navbar-toggle {
        display: block;
    }

    h1 {
        font-size: 20pt;
    }

    h3 {
        font-size: 15pt;
    }
}

/* Ab <= 450 Pixel */

@media screen and (max-width: 450px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        /* Drei Spalten: eine Fraktion, zwei Fraktionen, eine Fraktion */
        grid-template-rows: auto;
        /* Automatische Höhe für die Zeilen */
        gap: 20px;
        /* Abstand zwischen den Zellen */
        padding: 20px;
    }

    .grid-container-zwei-Spalten {
        display: grid;
        grid-template-columns: 1fr;
        /* Drei Spalten: eine Fraktion, zwei Fraktionen, eine Fraktion */
        grid-template-rows: auto;
        /* Automatische Höhe für die Zeilen */
        gap: 20px;
        /* Abstand zwischen den Zellen */
        padding: 20px;
    }

    /* Verbindung von Zellen */
    /* Verbindung einer Zelle horizontal */
    .cell-1 {
        grid-column: span 1;
    }

    /* Verbindung einer Zelle vertikal */
    .cell-2 {
        grid-row: span 1;
    }

    /* Verbindung einer Zelle horizontal, falls 3 Zellen miteinander Verbunden wurden, werden nun nur noch zwei Zellen miteinander Verbunden */
    .cell-3 {
        grid-column: span 1;
    }

    header {
        grid-column: span 1;
        /* Spanne über alle drei Spalten */
        color: black;
        padding: 10px;
        text-align: center;
    }

    footer {
        grid-column: span 1;
        /* Spanne über alle drei Spalten */
        color: black;
        padding: 10px;
        text-align: center;
    }

}