header {
    background-color: rgb(243, 243, 243);
}

iframe {
    border-radius: 0%;
    flex: 1;
}

h1 {
    font-size: 30pt;
}

h3 {
    font-size: 20pt;
}

.Ausbildung {
    text-align: center;
}

footer {
    color: #fff;
    /* Textfarbe des Footers anpassen */
    padding: 20px;
    text-align: center;
    position: sticky;
    bottom: 0;
    grid-column: span 3;
    /* Spanne über alle drei Spalten */
    color: black;
    padding: 10px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Drei Spalten: eine Fraktion, zwei Fraktionen, eine Fraktion */
    grid-template-rows: repeat(2, auto);
    /* Automatische Höhe für die Zeilen */
    gap: 20px;
    /* Abstand zwischen den Zellen */
    padding: 20px;
}

.grid-container-zwei-Spalten {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Drei Spalten: eine Fraktion, zwei Fraktionen, eine Fraktion */
    grid-template-rows: repeat(2, auto);
    /* Automatische Höhe für die Zeilen */
    gap: 20px;
    /* Abstand zwischen den Zellen */
    padding: 20px;
}

.cell {
    border: 1px solid #ccc;
    padding: 5px;
}

.cell-1 {
    grid-column: span 2;
}

.cell-2 {
    grid-row: span 2;
}

.cell-3 {
    grid-column: span 3;
}

header {
    grid-column: span 3;
    /* Spanne über alle drei Spalten */
    color: black;
    padding: 10px;
    text-align: center;
}

#Portrait {
    width: 150pt;
    height: 100%;
    display: block;
}

#Kurzbeschreibung {
    align-content: end;
    text-align: center;
}

#Portraitimage {
    align-content: start;
}

.Icon {
    width: 30pt;
    height: 30pt;
}

#Adresse {
    align-content: end;
    text-align: right;
}

#Mail {
    align-content: start;
    text-align: left;
}

/*Navigation*/
/* CSS-Stil für die nebeneinander angeordnete Liste */
.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /*color: white;*/
    font-size: 20pt;
    justify-content: center;
}

.navbar-logo {
    font-size: 24px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
    font-size: 24pt;
}

.navbar-menu a {
    text-decoration: none;
    /*color: white;*/
    font-size: 20pt;
}

.navbar-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/*Ende Navigation*/

.horizontal-list li {
    margin-right: 100px;
    font-size: 16pt;
    /* Abstand zwischen den Listenelementen anpassen */
}

/* CSS-Stil für die Sterne */
.star-rating {
    font-size: 0;
    white-space: nowrap;
    /* Entfernt den Leerraum zwischen den Sternen */
}

.star-rating label {
    font-size: 24px;
    /* Größe der Sterne anpassen */
    padding: 5px;
    cursor: not-allowed;
    /* Zeige an, dass die Sterne nicht auswählbar sind */
    display: inline-block;
    color: #ddd;
    /* Standardfarbe der Sterne */
}

.star-rating label:before {
    content: '\2605';
    /* Unicode-Zeichen für Stern */
    color: #ddd;
    /* Standardfarbe der Sterne */
}

.star-rating label.checked:before {
    color: #f90;
    /* Farbe der ausgewählten Sterne */
}


/*Bildschirmkompatibilität*/

@media screen and (max-width: 740px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* Drei Spalten: eine Fraktion, zwei Fraktionen, eine Fraktion */
        grid-template-rows: auto;
        /* Automatische Höhe für die Zeilen */
        gap: 20px;
        /* Abstand zwischen den Zellen */
        padding: 20px;
    }

    .grid-container-zwei-Spalten {
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* Drei Spalten: eine Fraktion, zwei Fraktionen, eine Fraktion */
        grid-template-rows: auto;
        /* Automatische Höhe für die Zeilen */
        gap: 20px;
        /* Abstand zwischen den Zellen */
        padding: 20px;
    }

    header {
        grid-column: span 2;
        /* Spanne über alle drei Spalten */
        color: black;
        padding: 10px;
        text-align: center;
    }

    footer {
        grid-column: span 2;
        /* Spanne über alle drei Spalten */
        color: black;
        padding: 10px;
        text-align: center;
    }


    /*Hamburger-Icon*/
    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-menu li {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 20pt;
    }

    .navbar-toggle {
        display: block;
    }

    h1 {
        font-size: 20pt;
    }

    h3 {
        font-size: 15pt;
    }
}

@media screen and (max-width: 450px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        /* Drei Spalten: eine Fraktion, zwei Fraktionen, eine Fraktion */
        grid-template-rows: auto;
        /* Automatische Höhe für die Zeilen */
        gap: 20px;
        /* Abstand zwischen den Zellen */
        padding: 20px;
    }

    .grid-container-zwei-Spalten {
        display: grid;
        grid-template-columns: 1fr;
        /* Drei Spalten: eine Fraktion, zwei Fraktionen, eine Fraktion */
        grid-template-rows: auto;
        /* Automatische Höhe für die Zeilen */
        gap: 20px;
        /* Abstand zwischen den Zellen */
        padding: 20px;
    }

    /* Beispiel: Verbindung von Zellen */
    .cell-1 {
        grid-column: span 1;
    }

    .cell-2 {
        grid-row: span 1;
    }

    .cell-3 {
        grid-column: span 1;
    }

    header {
        grid-column: span 1;
        /* Spanne über alle drei Spalten */
        color: black;
        padding: 10px;
        text-align: center;
    }

    footer {
        grid-column: span 1;
        /* Spanne über alle drei Spalten */
        color: black;
        padding: 10px;
        text-align: center;
    }

}